* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#root{
    width:60%;
}

#toggle-theme{
    position: absolute;
    left:750px;
    top:30px;
    padding: 5px 10px;
    border-radius: 10px;
}

#toggle-theme:active{
    background-color: lightgray;
    box-shadow: 1px 1px 2px black;
}